.credentials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.credentials {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.credentials button,
.credentials input,
.credentials .save-credentials {
  width: 100%;
  box-sizing: border-box;
}

.credentials .save-credentials {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: left;
  gap: 0.5em;
}

.save-credentials input {
  width: fit-content;
}

.logged-in-as {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-out {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #00000060;
  text-decoration: underline;
  cursor: pointer;
}

.credentials h3 {
  margin-bottom: 0;
  margin-top: 1.5em;
}

.stored-ids {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stored-container {
  width: fit-content;
}

.stored {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
